body {
  margin: 0;
}

.old-tv {
  display: flex;
  width: 100vw;
  height: 100vh;

  .old-tv__screen {
    width: 70%;
    height: calc(100% - 128px);
    background-color: black;
    padding: 64px;

    .old-tv__screen__inner {
      height: calc(100% - 32px);
      background-color: white;
      padding: 16px;
      border-radius: 16px;
    }
  }

  .old-tv__panel {
    width: 30%;
    height: calc(100% - 48px);
    background-color: black;
    padding: 24px;

    .old-tv__panel__inner {
      display: flex;
      justify-content: center;
      height: calc(100% - 32px);
      background-color: grey;
      padding: 16px;
      border-radius: 16px;

      .panel__inner__header .header__nav {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #1b1b1b;
        border-radius: 50%;
        margin-top: 48px;
        box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.75);

        .header__nav__pointer {
          position: absolute;
          transform: translateX(-50%);
          top: -8px;
          left: 50%;
          width: 10px;
          height: 50%;
          background-color: #040404;
        }

        .header__nav__button {
          position: absolute;
          height: 100%;
          width: 100%;
          cursor: pointer;
          background-color: transparent;
          border: none;
          border-radius: 50%;
        }

        .header__nav__ul {
          list-style: none;
          margin: 0;

          .nav__ul__li {
            position: absolute;
            text-align: center;
            width: 100%;

            a {
              text-decoration: none;
              color: black;
            }

            &.about {
              transform: translate(-50%, -50%);
              right: -50%;
              top: -32px;
            }

            &.articles {
              left: 96px;
              bottom: 50%;
            }

            &.projects {
              transform: translate(-50%, -50%);
              right: -50%;
              bottom: -48px;
            }
          }
        }
      }
    }
  }
}
