body {
  background-color: #090431;
}

#monster {
  height: 16px;
  width: 16px;
  background-color: #fff;
}

.homepage-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  h1 {
    color: #f8ebc5;
  }

  a {
    color: #f8ebc5;
  }
}
